.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color:#222;
  overflow: hidden;
}

.wrapper {
  background-color: transparent;
  height: 90vh;
  width: 80%;
  box-shadow: 0px 0px 12px rgba(203, 203, 203, 0.8);
  display: flex;
  flex-flow: row nowrap;
  border-radius: 10px;
  overflow: hidden
}

h2 {
  font-size: 30px;
  font-weight: lighter;
  padding-bottom: 15px;
  text-shadow: 0 0 12px black
}

h3 {
  font-size: 12px;
  padding-top: 8px
}

a,
a:hover {
  color: #222;
  text-decoration: none
}

.trick {
  width: 30px;
  height: 90vh;
  background-color: #F4F6F9;
  position: fixed;
  left: 87%
}

iframe {
  z-index: -1;
  display: none
}


@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 992px) {
  .trick {
    display: none
  }
}

@media screen and (max-width: 1366px) {
  .wrapper {
    height: 80vh;
    width: 70%
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    flex-flow: column;
    height: 95vh
  }

  

  .trick {
    height: 70vh;
    top: 25%
  }

  .wrapper {
    height: 90vh;
    width: 70%
  }
}