html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #F4F6F9;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
  }