.User {
  width: 15%;
  padding: 30px;
  text-align: center;
  background: url(../img/logo.png), #1ed760;
  background-size: 50%;
  background-position: center 105%;
  background-repeat: no-repeat;
  color: white;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  height: 90vh
}

.details {
  display: flex;
  flex-flow: column;
  align-items: center
}


.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-btn {
  margin: 30px 0;
  padding: 5px 20px;
  background-color: white;
  color: #222;
  box-shadow: 0 0 5px #717171;
}

table {
  width: 100%;
  border-collapse: separate;
  padding: 30px 0;
}

table td {
  background-color: white;
  color: #1ed760;
  padding: 3px
}

@media screen and (max-width: 1366px) {

  table {
    font-size: 11px;
    padding: 10px;
    margin: 0
  }

  .user-btn{
    font-size: 12px;
    margin: 20px 0
  }

  .User h2 {
    font-size: 18px
  }
}

@media screen and (max-width: 1200px) {
  .User {
    width: 100%;
    padding: 20px;
    position: static;
    background-size: 10%;
    background-position: right bottom;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 20vh
  }
  .User h2 {
    font-size: 20px;
    margin: 0;
    padding: 0 0 20px 0
  }

  table {
    font-size: 14px;
    width: 50%;
  }

  .details {
    position: relative;
    top: 30px;
  }

  .avatar {
    border: 3px solid #F4F6F9;
    width: 50px;
    height: 50px
  }

  .details {
    margin-right: 30px
  }

  .user-btn{
    display: none
  }

}

@media screen and (max-width: 576px) {

  .User {
    justify-content: center
  }
  
  .details {
    margin-right: 0px
  }

  .User h2 {
    padding-bottom: 20px;
    font-size: 15px
  }

  .avatar {
    width: 40px;
    height: 40px
  }

  table {
    width: 50%;
    margin-right: 0;
    padding: 10px 0;
    font-size: 10px
  }

  .group {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
  }

  .user-btn {
    font-size: 11px;
    margin: 0
  }
}