.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white
}

.wrapper {
  background-color: white;
  height: 90vh;
  width: 80%;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  background: linear-gradient(to right,rgb(0, 0, 0), rgb(25, 7, 45));
  display: flex;
  flex-flow: row nowrap;
}

h2 {
  font-size: 30px;
  font-weight: lighter
}